*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h2{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    font-size: 1.3rem;
    gap: 10px;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 5px;
    height: 30px;
    width: 100%;
}