@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: black;
    --white: white;
    --cinzaescuro: rgb(30, 30, 30);
    --dark-gray: rgb(95, 95, 95);
    --gray: gray;
    --pink: pink;
    --gray: rgb(95, 95, 95);
    --dark-gray: gray;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: var(--black); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--gray); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body{
    display: flex;
    height: 90vh;
    width: 90vw;
    background-color: black;
}

header{
    height: 48vw;
    width: 6vh;
    background-color: rgb(30, 30, 30);
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 5px 0;
    position: fixed;
    z-index: 35;
}

header img{
    width: 35px;
    height: 35px;
}

header img:hover{
    cursor: pointer;
}

header ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header ul li:hover{
    scale: 1.2;
    color: white;
}


header ul li{
    display: flex;
    height: 5vh;
    width: 30%;
    flex-direction: column;
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
    list-style: none;
    color: rgb(95, 95, 95);
    gap: 40px;
    cursor: pointer;
}

.refresh{
    transition: 2s;
}

a{
    color:currentColor;
}

.refresh:hover{
    opacity: 0.7;
    color: white;
}

main{
    height: 95vh;
    width: 99.5vw;
    color: var(--white);
    font-size: 2.5rem;
}

main p{
    display: flex;
    text-align: end;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--white);
    font-size: 3rem;
    /* border: solid 3px var(--pink); */
}

.home-section{
    display: flex;
    height: 94%;
    width: 100%;
    width: 99.7vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    font-size: 2rem;
    /* border: solid 3px var(--pink); */
}

.home-section h2{
    font-size: 5rem;
    text-align:center;
}

.home-section > h2{
    font-size: 3.2rem;
    transition: .5s;
    color: rgb(243, 239, 241);
    letter-spacing: 5px;
}

.home-section > h2:hover{
    color: rgb(53, 49, 58);
    letter-spacing: 40px;
}

.home-section p{
    font-size: 1.5rem;
    line-height: 1.5;
    transition: .5s;
    color: var(--pink);
}

.home-section p:hover{
    color: var(--gray);
    letter-spacing: 5px;
}

.home-section p{
    text-align: center;
    font-family: "Jost", sans-serif;
    margin: auto;
}

.about{
    display: flex;
    height: 94%;
    width: 100%;
    width: 99.7vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    font-size: 2rem;
    /* border: solid 3px var(--pink); */
}

.about h2{
    font-family: "Jost", sans-serif;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about > h2{
    font-size: 3.2rem;
    transition: .5s;
    color: rgb(243, 239, 241);
    letter-spacing: 5px;
}

.about > h2:hover{
    color: rgb(53, 49, 58);
    letter-spacing: 40px;
}
.about p{
    font-size: 1.5rem;
    line-height: 1.5;
    transition: .5s;
    color: var(--pink);
}

.about p:hover{
    color: var(--gray);
}

.skills {
    width: 99.5vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.skills h2{
    display: flex;
    font-family: "Jost", sans-serif;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.skills p{
    font-family: "Jost", sans-serif;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skills > div {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.skills {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.skills > h2 {
    font-size: 3.2rem;
    transition: .5s;
    color: var(--white);
    letter-spacing: 5px;
}
.skills > h2:hover {
    color: rgb(53, 49, 58);
    letter-spacing: 40px;
}
.skills > div {
    display: flex;
    column-gap: 50px;
    align-items: center;
}
.mySkills {
   width: 450px;
   height: 400px;
   padding: 30px;
   border-radius: 5px;
   background-color: rgb(200, 200, 200);
   box-shadow: 1px 1px 5px rgba(0, 0, 0, .4), -1px -1px 5px rgba(0, 0, 0, .4);
   color: rgb(0, 0, 0);
   margin-top: 5%;
   transition: .5s;
}
.mySkills:hover {
    transform: scale(1.05);
} 
.mySkills p {
   font-size: 1.5rem;
   font-weight: bold;
} 
.mySkills ul {
   list-style: none;
}
.mySkills ul li {
   margin: 5px 0;
}
.mySkills .barras {
   background-color: rgb(255, 255, 255);
   display: block;
   height: 10px;
   position: relative;
   border-radius: 5px;
   overflow: hidden;
   transition: 0.5s ease-in-out;
}
.barras > span {
   height: 10px;
   background: rgb(70, 70, 70);
   position: absolute;
   border-radius: 5px;
}
.html {
   width: 60%;
   animation: html 1.3s ease-in-out;
 }
.css {
   width: 50%;
   animation: css 1.3s ease-in-out;
}
.c {
   width: 30%;
   animation: c 1.3s ease-in-out;
}
.js {
    width: 20%;
    animation: js 1.3s ease-in-out;
}
.excel {
   width: 60%;
   animation: excel 1.3s ease-in-out;
}
.power-bi {
   width: 15%;
   animation: power-bi 1.3s ease-in-out;
}

.projects{
    flex-direction: column;
    align-items: center;
    width: 99.7vw;
    height: 100vh;
    color: var(--white);
    /* border: solid 1px white; */
}

.projects h2{
    
    font-family: "Jost", sans-serif;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projects > h2 {
    font-size: 3.2rem;
    transition: .5s;
    color: var(--white);
    letter-spacing: 5px;
}
.projects > h2:hover {
    color: rgb(53, 49, 58);
    letter-spacing: 40px;
}

.projects p{
    display: flex;
    font-family: "Jost", sans-serif;
    height: 30vh;
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
}

.projects div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.arrow-down {
    position: absolute;
    bottom: 7vh;
    font-size: 5rem;
    animation: arrow 2s ease-in-out infinite;
    cursor: pointer;
    color: #d6f4f4;
    transition: all 1s;
    filter:saturate(80%);
}

.arrow-down:hover {
    font-variation-settings: "wght" 900, "ital" 1;
    text-shadow: 0px 10px 0px #d6f4f45e;    
}

@keyframes arrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

.projects div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    margin: 20px;
    border-radius: 5px;
    background-color: var(--black);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4), -1px -1px 5px rgba(0, 0, 0, .4);
    color: rgb(0, 0, 0);
}

.projects div a img {
    width: 200px;
    height: 200px;
    transition: .5s;
}

.projects div a:hover img{
    transform: scale(1.4);
}